$catbird-grey:              rgba(236, 238, 240, 1);
$catbird-dark-grey:         rgba(80, 90, 103, 1);
$catbird-header-link-color: rgba(255, 255, 255, 1);
$catbird-well-bg-color:     rgba(255, 255, 255, 1);

$catbird-separator-color: lighten($catbird-dark-grey, 50%);
